/* *{border: .5px dashed red} */
body{
    margin: 0%;
    padding: 0%;
    border: 0%;
    background-image: url("background-pic.jpg");
    background-size:cover;
    font-size: 1rem;
}
#content{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(7, 1fr);
    
}
header{
    grid-row: 1/2;
    grid-column: 1/8;
    display: flex;
    background-color: lightblue;
    align-items: center;
    padding: 1rem;
    justify-content: center;
    justify-content: space-around;
    position: sticky;
    top:0%;
   
}
li{
    margin-right: 1rem;
    border: 2px solid lightblue;
}
li:hover{
    border-bottom: 2px solid darkblue;
}


#container{
    background-color: rgba(255, 255, 255, 0.75);
    grid-column:2/7 ;
    grid-row: 2/20;
    padding: 5%;
    padding-top: 0%;
}

footer{
    justify-content: flex-end;
    background-color: lightgoldenrodyellow;
    grid-row: 20/21;
    grid-column: 1/8;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

ul{
    list-style-type: none;
    display: flex;
    align-self: center;
    padding: 2px;
}
